*{
margin: 0; 
padding: 0;
font-family: Roboto, arial;
box-sizing: border-box;
}

body {
    background-color: lightslategray
}
#wrapper {
    max-width: 1000px;
    margin: 0 auto;

}

header img {
    width: 100%;
    dispaly:block
}

nav {
    background-color: darkcyan;
}

nav a {}

a.menu{
    display: inline-block;
    width: 25%;
    padding: 15px, 30px;
    color: white;
    text-decoration: none;
    text-align: center;
}
 a.menu:hover {
     background-color: crimson;
 }

 .active {
    background-color: crimson;
}

article {
    margin-top: 30px;
    margin-bottom: 20px;
}

article h1 {
font-size: 30px;
text-align: center;
margin: 0 10% 20px 10%;
padding-bottom: 15 px;
border-bottom: 2px solid crismon;
}

.left {
    float: left;
    padding: 10px;
    width: 100%;
    
}

article p {
text-align: justify;
line-height: 25px;
font-size: 18px;
padding: 15px 0 15px 0;
}